/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.releaserc export-ignore
/compose.json export-ignore
/database/factories export-ignore
/gulpfile.js export-ignore
/phpcs.xml export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml export-ignore
/tests export-ignore
