name: test

on:
  push:
  pull_request:

jobs:
  linux_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        laravel: ['10']
        php: ['8.1', '8.2', '8.3']

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: xdebug

      - name: Setup Problem Matchers
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Select Laravel 10
        uses: nick-invision/retry@v3.0.0
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer require "laravel/framework:10.*" "phpunit/phpunit:^10.0" --no-update --no-interaction
        if: "matrix.laravel == '10'"

      - name: Install dependencies
        uses: nick-invision/retry@v3.0.0
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer update --no-interaction --no-progress

      - name: Code Standard and Static Analysis
        run: |
          composer run lint:analyse
          composer run stan:analyse

      - name: Execute tests
        run: ./vendor/bin/phpunit --coverage-clover clover.xml

      - name: Check code coverage
        uses: codecov/codecov-action@v3
        if: "matrix.php == '8.1' && matrix.laravel == '10'"
